In [1]:
import pandas as pd

In [2]:
#pd.set_option('display.max_columns', None)
#cases_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
deaths_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv' 
df = pd.read_csv(deaths_url)
df.columns = map(str.lower, df.columns)
df.rename(columns={'province_state': 'state', 'country_region': 'country', 'admin2': 'county'}, inplace=True)
df.head()

,uid,iso2,iso3,code3,fips,county,state,country,lat,long_,...,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20,8/31/20,9/1/20,9/2/20,9/3/20,9/4/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,22,22,22,22,22,22,23,23,23,23
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,33,34,35,36,36,38,38,38,40,42
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,7,7,7
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,5,5,5,6,6,7,7,7,6,6
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,7,7,9,9,10,11,11,11,11,12

In [3]:
cali = df.loc[df['state'] == 'California']

In [4]:
cali['county'].values

array(['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa',
       'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn',
       'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 'Lassen',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino',
       'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange',
       'Out of CA', 'Placer', 'Plumas', 'Riverside', 'Sacramento',
       'San Benito', 'San Bernardino', 'San Diego', 'San Francisco',
       'San Joaquin', 'San Luis Obispo', 'San Mateo', 'Santa Barbara',
       'Santa Clara', 'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou',
       'Solano', 'Sonoma', 'Stanislaus', 'Sutter', 'Tehama', 'Trinity',
       'Tulare', 'Tuolumne', 'Unassigned', 'Ventura', 'Yolo', 'Yuba'],
      dtype=object)